<template>
  <div>
    <!-- La navbar principale -->
    <main-navbar />

    <!-- Les routes directes seront insérés ici -->
    <router-view />

    <!-- Le footer affiche les auteurs et le contexte du projet -->
    <main-footer />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Route } from 'vue-router';

import MainNavbar from '@/components/MainNavbar.vue';
import MainFooter from '@/components/MainFooter.vue';

/**
 * Composant de base de l'application.
 * Définit le layout de l'application.
 *
 * @author Paul-Louis Mas
 */
export default Vue.extend({
  name: 'App',
  components: {
    MainNavbar,
    MainFooter,
  },
  watch: {
    $route(to: Route) {
      // Écoute le changement de route
      // et met à jour le titre depuis les metadonnées si elles sont présentes,
      // sinon retombe sur un fallback
      document.title = (to.meta.title as string) || 'Liste de tâches';
    },
  },
});
</script>

<style lang="scss"></style>
