<template>
  <div class="column">
    <div class="column is-three-fifths is-offset-one-fifth">
      <div class="content">
        <h1>Êtes-vous sure du vouloir supprimer cette tâche ?</h1>
        <p class="has-text-danger" v-if="error">{{ error }}</p>
        <div>
          <div class="field">
            <label class="label">Nom de la tâche</label>
            <input class="input" readonly v-model="task.name" />
          </div>
          <div class="field">
            <label class="label">Date d'échéance</label>
            <input
              class="input"
              readonly
              :value="task.dueDate ? new Date(task.dueDate).toLocaleString() : 'Aucune'"
            />
          </div>
          <div class="field">
            <label class="label">Description</label>
            <textarea class="input" readonly v-model="task.description"></textarea>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-danger" @click="deleteTodo">Supprimer</button>
            </div>
            <div class="control">
              <button class="button is-light" @click="returnBack">Annuler</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import StoreActionTypes from '@/models/StoreActionsTypes';
import Todo from '@/models/Todo';

/**
 * Composant servant de route pour supprimer une tâche.
 * La suppression s'effectue seulement après confirmation de la part de l'utilisateur.
 * S'attend à recevoir l'`id` de la tâche dans l'url comme cela: `/delete/<ID>/`
 *
 * @author Lincey Jérôme
 */
export default Vue.extend({
  name: 'DeleteTask',
  data() {
    return {
      taskId: this.$route.params.id, // L'id de la tâche
      task: {} as Todo, // l'objet Todo
      error: '',
    };
  },
  mounted() {
    this.getTodo();
  },
  methods: {
    // Enleve un todo ensuite retourne vers la liste des tâches
    deleteTodo() {
      this.$store
        .dispatch(StoreActionTypes.DELETE_TODO, this.taskId.toString())
        .then(() => {
          return this.$router.push('/'); // Retourne vers la page principale
        })
        .catch(error => {
          this.error = 'Impossible de supprimer la tâche'; // affiche le message d'erreur pour l'utilisateur
          console.error(error); // pour debug
        });
    },
    // Récupère un objet Todo sélectionné dans la liste
    getTodo() {
      this.$store
        .dispatch(StoreActionTypes.GET_TODO, this.taskId.toString())
        .then((ObjectTask: Todo) => {
          this.task = ObjectTask;
        })
        // il y a eu une erreur
        .catch((error: Error) => {
          this.error = 'Erreur ! Impossible de récupérer la tâche !';
          console.error(error); // pour debug
        });
    },
    returnBack() {
      this.$router.back(); // retour à la page précédente
    },
  },
});
</script>

<style lang="scss" scoped></style>
