<template>
  <div>
    <!-- Le loader visuel -->
    <loader-spinner v-if="loading" />

    <!-- Filtres et choix de tri -->
    <div class="container block">
      <nav class="level">
        <div class="level-left">
          <!-- Filtre -->
          <div class="level-item">
            <div class="field has-addons">
              <div class="control">
                <button
                  class="button"
                  @click="
                    filter = '';
                    loadTodos();
                  "
                >
                  <span class="icon">
                    <font-awesome-icon :icon="['fas', 'times']" />
                  </span>
                </button>
              </div>

              <div class="control">
                <input
                  type="text"
                  class="input"
                  placeholder="Filtrer"
                  v-model="filter"
                  @keypress.enter="loadTodos"
                />
              </div>

              <div class="control">
                <button class="button is-info" @click="loadTodos">
                  <span class="icon">
                    <font-awesome-icon :icon="['fas', 'search']" />
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="level-right">
          <!-- Tri -->
          <div class="level-item">
            <div class="field has-addons">
              <div class="control">
                <button class="button is-static">Tri</button>
              </div>

              <div class="control">
                <label class="button" :class="{ 'is-dark is-selected': order === '' }">
                  <input type="radio" v-model="order" value="" />

                  Normal
                </label>
              </div>

              <div class="control">
                <label class="button" :class="{ 'is-dark is-selected': order === 'name' }">
                  <input type="radio" v-model="order" value="name" />

                  Nom
                </label>
              </div>

              <div class="control">
                <label class="button" :class="{ 'is-dark is-selected': order === 'completed' }">
                  <input type="radio" v-model="order" value="completed" />

                  État
                </label>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <!-- Message d'erreur pour informer l'utilisateur -->
    <section class="hero is-danger" v-if="error">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Une erreur est survenue</h1>

          <h3 class="subtitle">
            {{ error }}
          </h3>
        </div>
      </div>
    </section>

    <!-- Message informant qu'aucune tâche n'a été trouvé -->
    <section class="hero" v-if="tasks.length === 0">
      <div class="hero-body">
        <div class="container">
          <p class="has-text-centered">Aucune tâche trouvé</p>
        </div>
      </div>
    </section>

    <!-- Liste des tâches -->
    <section class="section" v-if="!error">
      <div class="container">
        <task-preview v-for="task in tasks" :key="task.id" :displayedTask="task" />
      </div>
    </section>

    <!-- Gestion du nombre de tâches /page -->
    <section class="section">
      <div class="container">
        <nav class="level">
          <div class="level-left"></div>

          <div class="level-right">
            <div class="level-item">
              <div class="field has-addons">
                <div class="control">
                  <button class="button is-static">Nombre de résultats</button>
                </div>

                <div class="control">
                  <div class="select">
                    <select v-model="maxTodosPerPage">
                      <option value="1">1</option>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </div>
                </div>

                <!-- <div class="control">
                  <button class="button is-static">
                    /page
                  </button>
                </div> -->
              </div>
            </div>
          </div>
        </nav>
      </div>
    </section>

    <!-- Pagination -->
    <section class="section" v-if="!error && truncated">
      <div class="container">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
          <router-link
            :to="{ params: { page: pagination.previous || pagination.first } }"
            class="pagination-previous"
            :disabled="!pagination.previous"
          >
            <span class="icon">
              <font-awesome-icon :icon="['fas', 'angle-left']" />
            </span>
          </router-link>

          <ul class="pagination-list">
            <li v-if="pagination.previous && pagination.previous !== pagination.first">
              <router-link
                :to="{ params: { page: pagination.first.toString() } }"
                class="pagination-link"
              >
                {{ pagination.first }}
              </router-link>
            </li>

            <li v-if="pagination.previous && pagination.previous !== pagination.first">
              <span class="pagination-ellipsis"> &hellip; </span>
            </li>

            <li v-if="pagination.previous">
              <router-link
                :to="{ params: { page: pagination.previous.toString() } }"
                class="pagination-link"
              >
                {{ pagination.previous }}
              </router-link>
            </li>

            <li>
              <router-link
                :to="{ params: { page: pagination.current.toString() } }"
                class="pagination-link is-current"
                :aria-label="`Page ${pagination.current}`"
                aria-current="page"
              >
                {{ pagination.current }}
              </router-link>
            </li>

            <li v-if="pagination.next">
              <router-link
                :to="{ params: { page: pagination.next.toString() } }"
                class="pagination-link"
              >
                {{ pagination.next }}
              </router-link>
            </li>

            <li v-if="pagination.next && pagination.next !== pagination.last">
              <span class="pagination-ellipsis"> &hellip; </span>
            </li>

            <li v-if="pagination.next && pagination.next !== pagination.last">
              <router-link
                :to="{ params: { page: pagination.last.toString() } }"
                class="pagination-link"
              >
                {{ pagination.last }}
              </router-link>
            </li>
          </ul>

          <router-link
            :to="{ params: { page: pagination.next || pagination.last } }"
            class="pagination-next"
            :disabled="!pagination.next"
          >
            <span class="icon">
              <font-awesome-icon :icon="['fas', 'angle-right']" />
            </span>
          </router-link>
        </nav>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

// Import le loader-spinner pour le chargement
import LoaderSpinner from '@/components/LoaderSpinner.vue';
// Importe le composant de preview pour les tâches
import TaskPreview from '@/components/TaskPreview.vue';

import Todo from '@/models/Todo';
import StoreActionTypes from '@/models/StoreActionsTypes';
import { TodoListReturn } from '@/models/TodoListReturn';
import { TodoListPagination } from '@/models/TodoListPagination';
import { TodoListFilter } from '@/models/TodoListFilter';

/**
 * Composant servant de route pour afficher la liste des tâches.
 *
 * @author Paul-Louis Mas
 */
export default Vue.extend({
  name: 'TaskList',
  components: {
    LoaderSpinner,
    TaskPreview,
  },
  data() {
    return {
      /** Variable temporaire indiquant l'état de loading */
      loading: false,

      /** Variable indiquant si une erreur est survenue */
      error: '',

      /** Variable indiquant le nombre maximal de tâches affichés /page */
      maxTodosPerPage: 20,

      /** Variable indiquant si la liste de tâches est tronqué */
      truncated: false,

      /** Variable indiquant la pagination */
      pagination: {} as TodoListPagination,

      /** La liste des tâches présentement affichées */
      tasks: [] as Todo[],

      /** Le nom de la colonne par laquel trier les tâches. Si vide, tri par ordre de création */
      order: '',

      /** Filtre textuelle */
      filter: '',

      /** Nombre total de tâches */
      totalTaskCount: 0,
    };
  },
  computed: {
    /** La page actuelle */
    page(): number {
      return Number.parseInt(this.$route.params.page, 10) || 1;
    },
  },
  methods: {
    /** Effectue toute la logique pour récupérer la liste de tâches selon les filtres */
    loadTodos() {
      // Affiche le loader spinner
      this.loading = true;

      // Appel l'action du store pour récupérer la liste des tâches
      this.$store
        .dispatch(StoreActionTypes.LOAD_TODOS, {
          filter: this.filter,
          order: this.order,
          page: this.page,
          maxTodosPerPage: this.maxTodosPerPage,
        } as TodoListFilter)
        // L'appel a fonctionné avec succès
        .then((returnedObject: TodoListReturn) => {
          const { todos, truncated, pagination, resultCount } = returnedObject;

          // Charge les tâches dans les données du component
          this.tasks = todos;
          // Indique si la liste est tronquée
          this.truncated = truncated;
          // Met à jour la pagination
          this.pagination = pagination;
          // Met à jour le nombre total de tâches
          this.totalTaskCount = resultCount;

          // Dans le cas où l'utilisateur est sur une page qui n'existe pas
          if (this.page < this.pagination.first) {
            this.$router.push({ params: { page: this.pagination.first.toString() } });
          } else if (this.page > this.pagination.last) {
            this.$router.push({ params: { page: this.pagination.last.toString() } });
          }
        })
        // Une erreur est survenue
        .catch((error: Error) => {
          // Met à jour la variable d'erreur, permettant ainsi d'informer l'utilisateur
          this.error = 'Impossible de récupérer la liste de tâches';

          // Log l'erreur
          console.error(error);
        })
        // Toujours éxécuté, peut importe si l'appel a réussi ou échoué
        .finally(() => {
          // Retire le loading spinner
          this.loading = false;
        });
    },
  },
  // Observe des changements aux propriétés suivantes
  watch: {
    order() {
      // Met à jour l'affichage des tâches lorsque le filtre d'ordre change
      this.loadTodos();
    },
    $route() {
      // Met à jour les tâches lors de changement de numéro de page
      this.loadTodos();
    },
  },
  // Appelé lorsque Vue monte le composant dans le DOM
  mounted() {
    // Charge les tâches
    this.loadTodos();
  },
});
</script>

<style lang="scss" scoped>
input[type='radio'] {
  display: none;
}

.level {
  .button {
    &.is-static {
      border-color: transparent;
      background-color: transparent;
    }
  }
}
</style>
