<template>
  <div>
    <!--
      Un spinner de chargement
      pour informer l'utilisateur que l'application attend des données depuis une API
    -->
    <loader-spinner v-if="loading" />

    <!-- Message d'erreur pour informer l'utilisateur -->
    <section class="hero is-danger" v-if="error">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Une erreur est survenue</h1>

          <h3 class="subtitle">
            {{ error }}
          </h3>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container" v-if="task">
        <!-- Nom de la tâche -->
        <div class="field">
          <label class="label"> Nom de la tâche </label>

          <div class="control">
            <input type="text" class="input" readonly v-model="task.name" />
          </div>
        </div>

        <!-- Date d'échéance de la tâche -->
        <div class="field">
          <label class="label"> Date d'échéance </label>

          <div class="control">
            <!-- input:datetime-local si supporté par le navigateur client -->
            <input
              type="datetime-local"
              class="input"
              readonly
              v-model="task.dueDate"
              v-if="inputDateTimeLocalIsSupported"
            />

            <!-- input:text si input:datetime-local n'est pas supporté par le navigateur client -->
            <input
              type="text"
              class="input"
              readonly
              :value="task.dueDate ? new Date(task.dueDate).toLocaleString() : 'Aucune'"
              v-if="!inputDateTimeLocalIsSupported"
            />
          </div>
        </div>

        <!-- État de la tâche (complété ou non) -->
        <div class="field">
          <label class="label"> Complété </label>

          <div class="control">
            <button
              class="button"
              @click="toggleCompleted"
              :aria-label="task.completed ? 'Tâche complété' : 'Tâche non complété'"
            >
              <span class="icon">
                <font-awesome-icon :icon="['far', task.completed ? 'check-square' : 'square']" />
              </span>
            </button>
          </div>
        </div>

        <!-- La description de la tâche -->
        <div class="field">
          <label class="label"> Description de la tâche </label>

          <div class="control">
            <textarea class="textarea" readonly v-model="task.description"></textarea>
          </div>
        </div>

        <!-- Les boutons de modification/suppression -->
        <div class="field is-grouped is-grouped-centered">
          <!-- Bouton modifier -->
          <div class="control">
            <router-link class="button is-info" :to="{ name: 'Update', params: { id: task.id } }">
              Modifier
            </router-link>
          </div>

          <!-- Bouton supprimer -->
          <div class="control">
            <router-link class="button is-danger" :to="{ name: 'Delete', params: { id: task.id } }">
              Supprimer
            </router-link>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import Todo from '@/models/Todo';
import StoreActionsTypes from '@/models/StoreActionsTypes';
import TodoListItemNotFoundException from '@/models/TodoListItemNotFoundException';

/**
 * Composant servant de route pour l'affichage des détails d'une tâche.
 * S'attend à recevoir l'`id` de la tâche dans l'url comme cela: `/read/<ID>/`
 *
 * @author Paul-Louis Mas
 */
export default Vue.extend({
  name: 'ReadTask',
  components: {
    LoaderSpinner: () => import('@/components/LoaderSpinner.vue'),
  },
  // Appelé lorsque Vue monte le composant dans le DOM
  mounted() {
    // Affiche le loader spinner
    this.loading = true;

    // Appel l'action du Store pour récupérer la tâche
    this.$store
      .dispatch(StoreActionsTypes.GET_TODO, this.taskId)
      // L'appel a fonctionné avec succès
      .then((todo: Todo) => {
        // Met à jour la tâche affiché
        this.task = todo;
      })
      // Une erreur est survenue
      .catch((error: Error) => {
        if (error instanceof TodoListItemNotFoundException) {
          // La tâche demandé n'existe pas
          const { requestedId } = error as TodoListItemNotFoundException;

          // Met à jour la variable d'erreur, permettant ainsi d'informer l'utilisateur
          this.error = `La tâche identifié par "${requestedId}" n'existe pas`;
        } else {
          this.error = "Une erreur s'est produite.";
        }

        // Log l'erreur
        console.error(error);
      })
      // Toujours éxécuté, peut importe si l'appel a réussi ou échoué
      .finally(() => {
        // Retire le loading spinner
        this.loading = false;
      });
  },
  data() {
    return {
      /** L'id de la tâche */
      taskId: this.$route.params.id as string,

      /** Indice de chargement pour le spinner */
      loading: false,

      /** La tâche actuellement présenté */
      task: null as Todo | null,

      /** Variable indiquant si une erreur est survenue */
      error: '',
    };
  },
  computed: {
    /** Booléen indiquant si `input:datetime-local` est supporté par le navigateur */
    inputDateTimeLocalIsSupported(): boolean {
      /** Un élément `input` pour tester si inout:datetime-local est supporté */
      const inputElement = document.createElement('input');

      // Assigne le type datetime-local
      inputElement.type = 'datetime-local';

      // Retourne `true` si le types datetime-local est gardé (et donc supporté)
      // sinon retourne `false`
      return inputElement.type === 'datetime-local';
    },
  },
  methods: {
    /** Méthode pour toggle l'état `completed` de la tâche */
    toggleCompleted() {
      if (this.task === null) {
        // L'API n'a pas encore retourné de tâche, ou une erreur est survenue
        return;
      }

      // Récupère l'état actuelle de la tâche
      const { completed } = this.task;

      /** Le nouvel état de la tâche */
      const newCompletedState = !completed;

      // Met à jour l'affichage en attendant la mise à jour au niveau du backend
      this.task.completed = newCompletedState;

      // Appel l'action du Store pour modifier l'état de la tâche
      this.$store
        .dispatch(StoreActionsTypes.UPDATE_TODO, {
          ...this.task,
          completed: newCompletedState,
        })
        // L'appel a fonctionné avec succès
        .then((updatedTask: Todo) => {
          // Met à jour la tâche locale depuis celle retourné par l'API
          this.task = updatedTask;
        })
        // Une erreur est survenue
        .catch((error) => {
          // Met à jour la variable d'erreur, permettant ainsi d'informer l'utilisateur
          this.error = "Impossible de changer l'état de la tâche";

          // Log l'erreur
          console.error(error);
        });
    },
  },
});
</script>

<style lang="scss" scoped></style>
