<template>
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Erreur 404</h1>

        <h3 class="subtitle">
          Page <code>{{ $route.path }}</code> introuvable
        </h3>

        <p>
          <router-link :to="{ path: '/' }"> Retourner à la liste des tâches </router-link>
        </p>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue';

/**
 * Composant servant de route en cas d'erreur 404.
 *
 * @author Paul-Louis Mas
 */
export default Vue.extend({
  name: '404',
});
</script>

<style lang="scss" scoped></style>
