<template>
  <div :data-vue-component="$options.name" class="loader-spinner">
    <div class="element">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

/**
 * Composant pour afficher un spinner le temps d'un chargement.
 *
 * @author Paul-Louis Mas
 */
export default Vue.extend({
  name: 'Loader',
});
</script>

<style lang="scss" scoped>
.loader-spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;

  & > .element {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);

    & > .bar {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-width: 8px;
      border-style: solid;
      border-radius: 50%;
      border-color: lightgray transparent transparent transparent;
      animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }
      &:nth-child(2) {
        animation-delay: -0.3s;
      }
      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
