<template>
  <nav
    :data-vue-component="$options.name"
    class="navbar is-transparent block"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      <!-- Le bouton "hamburger" pour ouvrir et fermer la navbar sur petits écrans -->
      <a
        role="button"
        class="navbar-burger burger"
        :class="{ 'is-active': navbarIsOpened }"
        aria-label="menu"
        aria-expanded="false"
        @click="toggleNavbar"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <!-- Le menu de la navbar -->
    <div class="navbar-menu" :class="{ 'is-active': navbarIsOpened }">
      <div class="navbar-start">
        <router-link class="navbar-item" :to="{ path: '/list/' }"> Liste des tâches </router-link>

        <router-link class="navbar-item" :to="{ path: '/create/' }"> Nouvelle tâche </router-link>
      </div>

      <div class="navbar-end"></div>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from 'vue';

/**
 * Composant de la barre de navigation principale de l'application.
 * Inclus les liens vers les URLs accessibles nativement par le client.
 *
 * @author Paul-Louis Mas
 */
export default Vue.extend({
  name: 'MainNavbar',
  data() {
    return {
      /** Si la barre de navigation est ouverte */
      navbarIsOpened: false,
    };
  },
  methods: {
    /** Alterne entre ouverture et fermeture de la barre de navigation */
    toggleNavbar() {
      this.navbarIsOpened = !this.navbarIsOpened;
    },
  },
  watch: {
    $route() {
      // Ferme la barre de navigation lorsque la route change (changement de page)
      this.navbarIsOpened = false;
    },
  },
});
</script>

<style lang="scss" scoped>
nav.navbar {
  box-shadow: 0 1rem 1rem -0 rgba(0, 0, 0, 0.05);
}
</style>
