<template>
  <footer :data-vue-component="$options.name" class="footer">
    <div class="content has-text-centered">
      <p>
        TP1<br />
        Réalisé par
      </p>

      <ul>
        <li>François Morel, Lincey Jérôme, Paul-Louis Mas, Simon Castonguay</li>
      </ul>

      <p>
        Dans le cadre du cours<br />
        <code>Programmation Web III - Technologies et prospective</code>
      </p>
    </div>
  </footer>
</template>

<script lang="ts">
import Vue from 'vue';

/**
 * Composant `footer` principale de l'application.
 *
 * @author Paul-Louis Mas
 */
export default Vue.extend({
  name: 'MainFooter',
});
</script>

<style lang="scss" scoped>
ul {
  list-style: none;
  margin: 0;
}
</style>
