<template>
  <div
    :data-vue-component="$options.name"
    class="box block"
    :class="{
      'task-is-completed': task.completed,
      'task-is-expired': isExpired,
    }"
  >
    <span class="badge is-danger" v-if="isExpired"> Expiré </span>

    <nav class="level task-preview">
      <div class="level-left">
        <!-- Bouton pour compléter la tâche -->
        <div class="level-item">
          <button
            class="button task-preview-interactive"
            :aria-label="task.completed ? 'Tâche complété' : 'Tâche non complété'"
            :title="task.completed ? 'Tâche complété' : 'Tâche non complété'"
            @click="toggleCompleted"
          >
            <span class="icon">
              <font-awesome-icon :icon="['far', task.completed ? 'check-square' : 'square']" />
            </span>
          </button>
        </div>

        <!-- Le nom de la tâche -->
        <div class="level-item">
          <router-link
            :to="{ name: 'Read', params: { id: task.id || '_' } }"
            class="task-preview-link"
          >
            {{ task.name }}
          </router-link>
        </div>
      </div>

      <div class="level-right">
        <!-- L'échéance de la tâche -->
        <div class="level-item">
          <span class="has-text-grey is-family-monospace is-size-7">
            {{ task.dueDate ? new Date(task.dueDate).toLocaleString() : 'Aucune échéance' }}
          </span>
        </div>

        <!-- Bouton pour modifier la tâche -->
        <div class="level-item">
          <router-link
            :to="{ name: 'Update', params: { id: task.id || '_' } }"
            class="button is-info is-outlined"
            aria-label="Modifier"
          >
            <span class="icon">
              <font-awesome-icon :icon="['fas', 'edit']" />
            </span>
          </router-link>
        </div>

        <!-- Bouton pour supprimer la tâche -->
        <div class="level-item">
          <router-link
            :to="{ name: 'Delete', params: { id: task.id || '_' } }"
            class="button is-danger is-outlined"
            aria-label="Supprimer"
          >
            <span class="icon">
              <font-awesome-icon :icon="['fas', 'trash']" />
            </span>
          </router-link>
        </div>
      </div>
    </nav>

    <!-- Message d'erreur pour informer l'utilisateur -->
    <div class="notification is-danger task-error" v-if="error">
      <h1 class="title">Une erreur est survenue</h1>

      <h3 class="subtitle">
        {{ error }}
      </h3>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import Todo from '@/models/Todo';
import StoreActionsTypes from '@/models/StoreActionsTypes';

/**
 * Composants pour afficher une tâche au format réduit.
 *
 * @author Paul-Louis Mas
 */
export default Vue.extend({
  name: 'TaskPreview',
  props: {
    /** La propriété que le composant recevra permettant de définir une tâche à afficher */
    displayedTask: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      /** Variable indiquant si une erreur est survenue */
      error: '',
      /** La tâche à afficher */
      task: {} as Todo,
    };
  },
  computed: {
    /** Si la tâche affiché est expirée */
    isExpired(): boolean {
      return (
        this.task.dueDate !== null &&
        new Date() >= new Date(this.task.dueDate) &&
        !this.task.completed
      );
    },
  },
  // Appelé lorsque le component sera monté dans le DOM
  mounted() {
    // Assigne les valeurs de la tâche à afficher
    this.task = this.$props.displayedTask;
  },
  methods: {
    /** Méthode appelée pour toggle l'état `completed` de la tâche */
    toggleCompleted() {
      // Récupère l'id et l'état actuelle de la tâche
      const { completed } = this.task;

      /** Le nouvelle état de la tâche */
      const newCompletedState = !completed;

      // Met à jour l'affichage en attendant la mise à jour au niveau du backend
      this.task.completed = newCompletedState;

      // Appel l'action du Store pour modifier l'état de la tâche
      this.$store
        .dispatch(StoreActionsTypes.UPDATE_TODO, {
          ...this.task,
          completed: newCompletedState,
        })
        // L'appel a fonctionné avec succès
        .then((updatedTask: Todo) => {
          // Met à jour la tâche affiché
          this.task = updatedTask;
        })
        // Une erreur est survenue
        .catch((error: Error) => {
          // Met à jour la variable d'erreur, permettant ainsi d'informer l'utilisateur
          this.error = "Impossible de changer l'état de la tâche";

          // Rétablis l'affichage de la tâche initial
          this.task.completed = completed;

          // Log l'erreur
          console.error(error);
        });
    },
  },
});
</script>

<style lang="scss" scoped>
[data-vue-component='TaskPreview'] {
  position: relative;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border 0.1s;
  position: relative;

  &:hover {
    border-color: rgba(0, 0, 255, 0.2);
  }

  & > .task-preview {
    & .task-preview-interactive {
      z-index: 1;
    }

    & .task-preview-link {
      &:after,
      ::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  & > .task-error {
    cursor: default;
  }

  &.task-is-completed {
    // Obscurci légèrement une tâche si elle est complété
    filter: brightness(97%);
  }

  &.task-is-expired {
    border-color: rgba(255, 0, 0, 0.4);
  }
}
</style>
