<template>
  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
      <section class="hero is-danger" v-if="error">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">Une erreur est survenue</h1>
            <h3 class="subtitle">{{ error }}</h3>
          </div>
        </div>
      </section>
      <div class="field">
        <label class="label">Nom de la tâche</label>
        <div class="control">
          <input
            class="input"
            required
            type="text"
            v-model="task.name"
            placeholder="Entrez le nom de la tâche ici"
          />
          <span class="is-size-7 has-text-danger" v-if="task.name === ''">
            Ce champ est requis
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Date d'échéance</label>
        <div class="field has-addons">
          <div class="control is-expanded">
            <input
              v-model="task.dueDate"
              class="input"
              type="datetime-local"
              placeholder="Entrez la date d'échéance au format: yyyy-MM-ddThh:mm"
            />
          </div>
          <div class="control">
            <button class="button" @click="setDateNull">
              <span class="icon">
                <font-awesome-icon :icon="['fas', 'times']" />
              </span>
            </button>
          </div>
        </div>
      </div>
      <span class="is-size-7 has-text-danger" v-if="regExGood === false">
        Entrez la date d'échéance au format: yyyy-MM-ddThh:mm
      </span>
      <div class="field">
        <label class="label">Description de la tâche</label>
        <div class="control">
          <textarea
            v-model="task.description"
            class="textarea required"
            placeholder="Entrez la description de la tâche ici"
          ></textarea>
        </div>
      </div>
      <div class="field is-grouped is-grouped-centered">
        <p class="control" v-on:click="updateTodo()">
          <button class="button is-primary">Mettre à jour</button>
        </p>
        <p class="control">
          <button class="button is-light" @click="handleCancelModal">Annuler</button>
        </p>
      </div>
      <div class="modal" v-bind:class="{ 'is-active': showCancelModal }">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Annuler l'opération</p>
          </header>
          <section class="modal-card-body">
            <p>Voulez-vous vraiment annuler la modification de la tâche</p>
          </section>
          <footer class="modal-card-foot buttons is-right">
            <button class="button is-danger" @click="goBack">Annuler</button>
            <button class="button" @click="showCancelModal = false">Retour</button>
          </footer>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Todo from '@/models/Todo';
import StoreActionTypes from '@/models/StoreActionsTypes';

/**
 * Composant servant de route pour la modification d'une tâche.
 * S'attend à recevoir l'`id` de la tâche dans l'url comme cela: `/update/<ID>/`
 *
 * @author Simon Castonguay
 */
export default Vue.extend({
  name: 'UpdateTask',
  data() {
    return {
      taskId: this.$route.params.id, // L'id de la tâche
      task: {} as Todo, // Tâche reçue et updaté
      taskCopie: {} as Todo, // Tâche reçue et updaté
      error: '', // Message d'erreurs
      showCancelModal: false,
    };
  },
  mounted() {
    this.getTodo(); // Va chercher la task dont l'id est reçue quand la page load
  },
  computed: {
    regExGood(): boolean {
      const regex = RegExp(
        '^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9])$',
      );
      if (this.task.dueDate === null || this.task.dueDate === '') {
        return true;
      }
      return regex.test(this.task.dueDate);
    },
  },
  methods: {
    setDateNull() {
      this.task.dueDate = null;
    },
    handleCancelModal() {
      if (this.compare()) {
        this.showCancelModal = true;
      } else {
        this.goBack();
      }
    },
    compare() {
      if (
        this.task.name !== this.taskCopie.name ||
        this.task.dueDate !== this.taskCopie.dueDate ||
        this.task.description !== this.taskCopie.description
      ) {
        return true;
      }
      return false;
    },
    getTodo() {
      // Demande à l'api la task requise
      this.$store
        .dispatch(StoreActionTypes.GET_TODO, this.taskId)
        // L'appel a fonctionné avec succès
        .then((returnedObject: Todo) => {
          this.task = returnedObject;
          this.taskCopie = {
            completed: returnedObject.completed,
            id: returnedObject.id,
            name: returnedObject.name,
            dueDate: returnedObject.dueDate,
            description: returnedObject.description,
          };
        })
        // Une erreur est survenue
        .catch((error: Error) => {
          // Met à jour la variable d'erreur, permettant ainsi d'informer l'utilisateur
          this.error = 'Impossible de récupérer la tâche';

          // Log l'erreur
          console.error(error);
        });
    },
    updateTodo() {
      // Met à jour la task qui vient d'être modifiée
      const taskToUpdate: Todo = this.task;
      if (taskToUpdate.name !== '' && this.regExGood) {
        // S'assure que le champs nom n'est pas vide
        taskToUpdate.dueDate = this.task.dueDate || null;
        this.$store
          .dispatch(StoreActionTypes.UPDATE_TODO, taskToUpdate)
          // L'appel a fonctionné avec succès
          .then(() => {
            this.$router.push({ name: 'Home' });
          })
          // Une erreur est survenue
          .catch((error: Error) => {
            // Met à jour la variable d'erreur, permettant ainsi d'informer l'utilisateur
            this.error = 'Impossible de modifier la tâche';

            // Log l'erreur
            console.error(error);
          });
        this.$router.back();
      }
    },
    goBack() {
      this.$router.back();
    },
  },
});
</script>

<style lang="scss" scoped></style>
