<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />

    <title>Liste de tâches</title>
  </head>
  <body>
    <noscript>
      <strong>
        Nous sommes désolé, mais cette application ne peut fonctionner sans JavaScript.<br />
        Veuillez l'activer et réessayer.
      </strong>
    </noscript>

    <!-- The app will be rendered inside this div#app element -->
    <div id="app"></div>
  </body>
</html>
