<template>
  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
      <div class="field">
        <section class="hero is-danger" v-if="error">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">Une erreur est survenue</h1>
              <h3 class="subtitle">{{ error }}</h3>
            </div>
          </div>
        </section>
        <div class="field">
          <label class="label">Nom de la tâche</label>
          <div class="control">
            <input
              class="input"
              type="text"
              v-model="name"
              placeholder="Entrez le nom de la tâche ici"
            />
          </div>
          <p class="help is-danger" v-if="validationName">{{ validationName }}</p>
        </div>
        <div class="field">
          <label class="label">Date d'échéance</label>
          <div class="field is-grouped">
            <div class="control is-expanded">
              <input
                class="input"
                v-model="dueDate"
                type="datetime-local"
                placeholder="Entrez la date d'échéance au format: yyyy-MM-ddThh:mm"
              />
            </div>
            <div class="control">
              <a class="button" @click="setDateNull">
                <span class="icon">
                  <font-awesome-icon :icon="['fas', 'times']" />
                </span>
              </a>
            </div>
          </div>
          <p class="help is-danger" v-if="validationDate">{{ validationDate }}</p>
        </div>
        <div class="field">
          <label class="label">Description de la tâche</label>
          <div class="control">
            <textarea
              class="textarea"
              v-model="description"
              placeholder="Entrez la description de la tâche ici"
            ></textarea>
          </div>
        </div>
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <a class="button is-primary" @click="confirmCreate"> Créer la tâche </a>
          </p>
          <p class="control">
            <a class="button is-light" @click="handleCancelModal"> Annuler </a>
          </p>
        </div>
        <div class="modal" v-bind:class="{ 'is-active': showCancelModal }">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Annuler l'opération</p>
            </header>
            <section class="modal-card-body">
              <p class="has-text-danger">Voulez-vous vraiment annuler la création de la tâche?</p>
            </section>
            <footer class="modal-card-foot buttons is-right">
              <button class="button is-danger" @click="confirmClose">Quitter</button>
              <button class="button" @click="showCancelModal = false">Retour</button>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Todo from '@/models/Todo';
import StoreActionsTypes from '@/models/StoreActionsTypes';

/**
 * Composant servant de route pour la création d'une tâche.
 *
 * @author François Morel
 */
export default Vue.extend({
  name: 'CreateTask',
  data() {
    return {
      name: '',
      description: '',
      dueDate: '',
      error: '',
      validationName: '',
      validationDate: '',
      showCancelModal: false,
    };
  },
  computed: {
    regExGood(): boolean {
      const regex = RegExp(
        '^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9])$',
      );
      if (this.dueDate === null || this.dueDate === '') {
        return true;
      }
      return regex.test(this.dueDate);
    },
  },
  methods: {
    confirmCreate() {
      if (this.name === '') {
        this.validationName = 'Ce champs est requis';
        return;
      }
      if (!this.regExGood) {
        this.validationDate = 'Format de dâte invalide';
        return;
      }
      const newTodo = new Todo({
        dueDate: this.dueDate,
        name: this.name,
        description: this.description,
      });
      this.$store
        .dispatch(StoreActionsTypes.CREATE_TODO, newTodo)
        // L'appel a fonctionné avec succès
        .then((todo: Todo) => {
          // ajoute la tâche en BD et redirige vers "Home"
          console.log(todo);
          this.$router.push({ name: 'Home' });
        })
        // Une erreur est survenue
        .catch((error) => {
          // Met à jour la variable d'erreur, permettant ainsi d'informer l'utilisateur
          this.error = "Une erreur est survenu lors de l'ajout vérifier vos donnée et réessayer";
          this.clearText();
          // Log l'erreur
          console.error(error.response.status);
        });
    },
    confirmClose() {
      this.$router.push({ name: 'Home' });
    },
    handleCancelModal() {
      if (this.name === '' && this.description === '' && this.dueDate === '') {
        this.confirmClose();
      } else {
        this.showCancelModal = true;
      }
    },
    setDateNull() {
      this.dueDate = '';
    },
    clearText() {
      this.name = '';
      this.description = '';
      this.dueDate = '';
    },
  },
});
</script>

<style lang="scss" scoped></style>
